<h1>{{title}}</h1>

<div class="container">
    <h4>Enter the criteria below to search for a given certification's history.</h4>
    
    <strong>Please note all fields are required.</strong>
    <br /><br />
    <form #f="ngForm" novalidate>
    <div class="form-group">
        <label class="strong">CE Type: </label>
        <select name="certificate" class="form-control" id="certificateid" [(ngModel)]="certificatetype.certificateid">
            <option *ngFor="let certificate of certificates" [value]="certificate.value">{{certificate.name}}</option>
        </select>
    </div>    
    <br />
        <button class="button" type="submit"(click)="submitSearch(f.value)">Search</button>
    </form>
</div>

<div style="margin-top: 20px" *ngIf="f">
    <div>Form details:-</div>    
    <pre>submitted value: <br>{{f.value | json}}</pre>
  </div>

<div class="divider"></div>

<div class="container">
    <!--<searchresults></searchresults>-->
</div>