<h1>{{title}}</h1>

<div class="container">
    <h2>Enter the criteria below to search for a given user's certificate history.</h2>
    
    <strong>Please note all fields are required.</strong>
    <br /><br />
    <form #f="ngForm" novalidate>
    <div class="form-group">
        <label class="strong">First Name: </label>
        <input type="text" class="form-control" name="firstName" id="firstName" [(ngModel)]="user.firstName">
    </div>
    <div class="form-group">
        <label class="strong">Last Name: </label>
        <input type="text" class="form-control" name="lastName" id="lastName" [(ngModel)]="user.lastName">
    </div>
    <div class="form-group">
        <label class="strong">Organization: </label>
        <select name="org" class="form-control" id="userOrg" [(ngModel)]="user.userOrg">
            <option *ngFor="let org of orgs" [value]="org.value">{{org.name}}</option>
        </select>
    </div>
    <br />
        <!--<button class="button" type="submit"(click)="submitSearch(f.value)">Search</button>-->
    </form>
</div>

<div style="margin-top: 20px" *ngIf="f">
    <div>Form details:-</div>    
    <pre>submitted value: <br>{{f.value | json}}</pre>
  </div>

<div class="divider"></div>

<div class="container">
    <!--<searchresults></searchresults>-->
</div>