<header>
	<nav>
	    <a routerLink="/" routerLinkActive="active">Home</a>
	    <span class="linkDivider">|</span>
	    <a routerLink="/coursecustomizer">Course Customizer</a>
	    <span class="linkDivider">|</span>
	    <a routerLink="/reports">Reports</a>
	</nav>
</header>

<h3>{{title}}</h3>
<br /><br />
<router-outlet></router-outlet>