<div class="container">
<h1>{{title}}</h1>
<header>
	<nav>	    
		<a routerLink="/reports/ceresults">CE Results</a>
		<span class="linkDivider">|</span>
	    <a routerLink="/reports/learnerHistory">Learner History</a>
	</nav>
</header>
</div>