<script type="text/javascript" src="./js/xml2json.js" />

<h1>{{title}}</h1>
<div class="container">
    <h2>Select the organization from the list below to review existing customizations.</h2>
    <form #f="ngForm" novalidate>
        <div class="form-group">
            <label class="strong">Organization: </label>
            <select name="orgsList" class="form-control" id="organizationId" [(ngModel)]="org.orgs">
                <option *ngFor="let org of orgs" [value]="org.value">{{org.name}}</option>
            </select>
        </div>
        <br />
        <button class="button" type="submit"(click)="retrieveCustomization(org.value)">Submit</button>
    </form>
</div>
<div class="container">
    <div style="margin-top: 20px" *ngIf="f">
        <div>Form details:-</div>
        <pre>submitted value: <br>{{f.value | json}}</pre>
    </div>
    <div class="divider"></div>
</div>